@{
    ViewData["Title"] = "Sanjay's Watch App";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Application</h1>
    <p>Being in control of your time is crucial in this hectic pace of modern life.</p>
    <img src="~/img/img1.jpg" />
</div>
