@{
    ViewData["Title"] = "About Us";
}


<head>
    <title>About Us</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="hr">
                <hr>
                <h2>Our Motto</h2>
                <hr>
            </div>

            <p class="mission-txt">Fashion. Style. Class</p>
        </div>
        <div class="wrapper">
            <h2>About</h2>
            <div>
                <img src="" />
                <p>Founded by brothers Sanjay Anand and amandeep singh who are modern horological enthusiasts with a passion for unique timepieces. They've been scouring the globe since 1999 discovering obscure, unusual brands that you've probably never heard of as well as carefully curating the brands you love. Purveyors of wrist-borne time machines, Watches.com is a singular source for unusual modern watches from around the world. A watch says a lot about you and helps you stand out. It's time for YOU to be different.</p>
                <p>We believe that the modern watch represents more than just a functional mechanism to tell time. The watch is a unique form of art, design and personal expression. We've had a long-standing mission of providing unique and affordable timepieces to adventurous enthusiasts as yourself. As the number one selling independent online watch store, we plan to stay true to our core mission. </p>

            </div>
        </div>
        <div class="wrapper">
            <h2>Team</h2>
            <div class="Staff">
                <div class="unit">
                    
                    <p>Sanjay Anand, CEO</p>
                    <p>with over 15 years of public accounting and business advisory service experience in the new delhi, india, sanjay is the most seasoned and diversed member of the watch app</p>

                </div>
                <div class="unit">
                   
                    <p>Devraj Anand,vice president</p>
                    <p>Devraj is the vice president of Watch App. He consults customers to integrate solution into their production pipeline and business process.</p>

                </div>
                <div class="unit">
                    
                    <p>Michael, Vice Principal</p>
                    <p>Michael joined watch app in 2016, His duty is to create, implement, and maintain a computer database using  knowledge of various computer languages.</p>
                </div>
            </div>
        </div>

    </div>
</body>

