/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



/*css for about us*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(170, 169, 169);
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    width: 100%;
    box-shadow: 0 0 5px black;
    text-align: center;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(223, 215, 215);
    margin: 10px auto;
    padding: 5px 30px;
    width: 800px;
    box-shadow: 0 0 5px black;
}

.hr {
    display: flex;
    align-items: center;
}

hr {
    width: 30px;
    height: 1px;
    background: black;
    margin: 0 15px;
}

h2 {
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

.mission-txt {
    font-size: 18px;
    font-weight: 500px;
    font-style: italic;
    margin-top: 0;
}



p {
    text-align: justify;
}

.faculties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.unit {
    margin: 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .unit img {
        border-radius: 100px;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }

    .unit p {
        text-align: left;
        margin: 2px;
    }

        .unit p:first-of-type {
            font-weight: bolder;
            margin-bottom: 5px;
        }

@media screen and (max-width:820px) {
    .wrapper {
        width: 80%;
        padding: 5px 30px;
    }
}
  